Windows/QNAudioDeviceModule/Debug/
Windows/QNAudioDeviceModule/Release/
Windows/QNAudioDeviceModule/x64/Debug/
Windows/QNAudioDeviceModule/x64/Release/
Windows/QNAudioRecorderDemo/Debug/
Windows/QNAudioRecorderDemo/Release/
Windows/QNAudioRecorderDemo/x64/Debug/
Windows/QNAudioRecorderDemo/x64/Release/
Windows/.vs/
Windows/Debug/QNAudioRecorder.dll.lastcodeanalysissucceeded
Windows/Debug/QNAudioRecorder.exp
Windows/Debug/QNAudioRecorder.ilk
Windows/Debug/QNAudioRecorderDemo.ilk
Windows/Release/QNAudioRecorder.exp
Windows/Release/QNAudioRecorder.iobj
Windows/x64/Debug/QNAudioRecorder.exp
Windows/x64/Debug/QNAudioRecorder.ilk
Windows/x64/Debug/QNAudioRecorderDemo.ilk
Windows/x64/Debug/QNAudioRecorderDemo.pdb
Windows/x64/Release/QNAudioRecorder.exp
Windows/x64/Release/QNAudioRecorder.iobj
Windows/x64/Release/QNAudioRecorderDemo.iobj
Windows/x64/Release/QNAudioRecorderDemo.ipdb
Windows/Debug/QNAudioRecorder.pdb
Windows/Debug/QNAudioRecorderDemo.pdb
Windows/Release/QNAudioRecorder.ipdb
Windows/Release/QNAudioRecorder.pdb
Windows/Release/QNAudioRecorderDemo.iobj
Windows/Release/QNAudioRecorderDemo.ipdb
Windows/Release/QNAudioRecorderDemo.pdb
Windows/x64/Debug/QNAudioRecorder.pdb
Windows/x64/Release/QNAudioRecorder.ipdb
Windows/x64/Release/QNAudioRecorder.pdb
Windows/x64/Release/QNAudioRecorderDemo.pdb
